{
    "parserOptions": {
        "ecmaVersion": 6,
    },
    "extends": "eslint:recommended",
    "rules": {
        "comma-spacing": "error",
        "indent": ["error", 4],
        "key-spacing": "error",
        no-trailing-spaces: "error",
        block-spacing: "error",
        brace-style: "error",
        keyword-spacing: ["error"],
        space-in-parens: ["error", "never"],
        func-call-spacing: ["error", "never"],
        "space-infix-ops": ["error", { "int32Hint": true }],
        semi: ["error", "always"],
        comma-dangle: ["warn", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "never",
            "exports": "never",
            "functions": "never",
        }],
    }
}
